/*Fonts Register*/
@font-face{
	src: url(assets/font/Ubuntu-Bold.ttf);
	font-family: Ubuntu-Bold;
}
@font-face{
	src: url(assets/font/Ubuntu-Regular.ttf);
	font-family: Ubuntu-Regular;
}
/*common css*/
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
	font-family: Ubuntu-Bold;
}
span,p{
	font-family: Ubuntu-Regular;
}
.navbar-nav.ms-auto li {
	padding: 1rem 1rem;
}
.navbar-nav.ms-auto li a{
	color: #fff;
	cursor: pointer;
	font-size: 1.8rem;
}
.navbar-nav.ms-auto li a i {
	padding: 0rem 0.6rem;
}
/*mobil menu design*/
.offcanvas {
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.offcanvas-header .btn-close {
	position: absolute;
	right: 2rem;
	top: 2rem;
}
.offcanvas-header img {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	margin-left: 13rem;
	margin-top: 6rem;
}
.mobil-menu h2 {
	text-align: center;
	font-size: 3rem;
  color: #fff;
  padding-top: 1.5rem;
}
.mobil-icon {
	margin-left: 3.5rem;
}
.mobil-icon i {
	color: #fff;
	font-size: 2rem;
	padding: 1.5rem 3rem;
	text-decoration: none;
	position: relative;
}
.mobil-icon i::before{
  width: 4rem;
  margin: 0rem 1rem;
	height: 4rem;
	position: absolute;
  line-height: 4rem;
  background: #FF0072;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0.2rem 0.4rem 0.8rem #000;
}
.mobil-manu-nav{
margin-top: 6rem;
}
.mobil-manu-nav ul li a{
font-size: 2rem;
color: #fff;
line-height: 1.9;
}
.mobil-manu-nav ul li a:hover{
	color: #000;
}
.mobil-manu-nav ul li a i {
	padding: 1.2rem;
}

.bg-color{
	background: #000;
}
.bg-color-1{
	z-index: -1;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.btn.nav-btn {
	cursor: pointer;
	display: none;
	float: right;
	background: #FF0072;
	height: 100vh;
}
.fa-bars::before, .fa-navicon::before {
	position: absolute;
	right: 8rem;
	font-size: 3rem;
	color: #fff;
	top: 1.3rem;
}
.btn-close.text-reset {
	font-size: 2.5rem;
	border: 1px solid #FF0072;
	padding: 2rem;
	border-radius: 1rem;
	background: ;
}
.navbar-brand img {
	width: 100px;
}
.headding{
	padding: 5rem 0rem;
		position: relative;
}
.headding h2{
	font-size: 4rem;
	margin-bottom: 3rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.banner .banner-content h1 {
	font-size: 160px;
	text-transform: uppercase;
	line-height: 140px;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	background-clip: text !important;
	color: transparent;
}
.headding h2::after{
	position: absolute;
	content: '';
	left: 42%;
	top: 62%;
	width: 9rem;
	height: 0.5rem;
  background: linear-gradient(to right, #A21AF0, #FF0072);
}
body .btn-primary{
	font-size: 1.8rem;
	padding: 0.7rem;
	text-align: center;
	color: #FFF;
	border-radius: 3rem 9rem;
	width: 15rem;
	cursor: pointer;
	display: inline-block;
  background: linear-gradient(15deg, #A21AF0 50%, #FF0072 50%);
	font-family: Ubuntu-Bold;
	transition: .5s ease-in-out;
	border-color: #FF0072;
}
body .btn-primary a{
	letter-spacing: 0;
}
body .btn-primary:hover{
  background: linear-gradient(-55deg, #A21AF0 50%, #FF0072 50%);
}
body .btn-primary i{
	font-size: 2rem;
	padding-right: 0.7rem;
}
/*header banner section start*/
.col-lg-6.col-md-12.col-sm-12.col-12.d-flex.flex-row.align-items-center {
	z-index: 4;
}
.header-banner{
background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%),
	url(assets/img/banner-image.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
.header-banner .banner-content{
	position: relative;
	top: 20%;
}
.header-banner .banner-content h4{
	font-size: 4rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.header-banner .banner-content h2{
  background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	font-size: 10rem;
	z-index: 1;
}
.header-banner .banner-content h3{
   background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
   font-size: 4rem;
   padding-top: 1.5rem;
   padding-bottom: 2rem;
}
.header-banner .banner-content p{
	font-size: 1.7rem;
	  position: relative;
	  padding: 1rem 0rem;
	  color: #fff;
}
.header-banner .banner-content p:before{
	width: 8rem;
	height: 0.5rem;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	content: '';
}
.banner-image{
	position: relative;
	width: 40rem;
	height: 40rem;
	background: #fff;
	border-radius: 50%;
	overflow: hidden;
	top: 30%;
}
.banner-image:before{
	content: '';
	position: absolute;
	inset: -1rem 14rem;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	transition: 0.5s;
	animation: animate 4s linear infinite;
}
.banner-image:hover::before{
	inset: -2rem 0rem;
}
@keyframes animate{
	0%{
   transform: rotate(0deg);
	}
	0%{
   transform: rotate(360deg);
	}
}
.banner-image:after{
	content: '';
	position: absolute;
	inset: 0.6rem;
		background: linear-gradient(to right, #A21AF0, #FF0072);
	border-radius: 50%;
	z-index: 1;
}
.banner-image .banner-image-items{
	position: absolute;
	inset: 3rem;
	border: 0.6rem solid #fff;
	z-index: 3;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.banner-image .banner-image-items img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition: 0.5s;
	pointer-events: none;
}
.banner-image:hover .banner-image-items img{
  opacity: 0;
}
.banner-image .banner-image-items h2{
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.banner-image .banner-image-items h3{
	  font-size: 2rem;
   color: #ddd;
   text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
}
.particles-js-canvas-el{
	position: absolute;
	top: 0;
	left: 0;
  /*z-index: -1;*/
}
/*header banner section end*/
/*about section start*/
.about-section{}
.about-section .about-content .about-items h2{
	font-size: 3rem;
  background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	padding: 2rem 0rem;
		padding-bottom: 2.5rem;
}
.about-section .about-content .about-items p{
	font-size: 2.3rem;
	line-height: 1.9;
}
.about-section .about-image img {
	width: 40rem;
	height: 50rem;
	border-radius: 3rem 9rem;
	box-shadow: 4px 11px 5px #FF0072;
}
/*about section end*/
/*work details section start*/
.work-details{
	padding: 5rem 0rem;
}
.work-details-content-items  h2 {
	font-size: 3rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	padding: 2rem 0rem;
	padding-bottom: 2.5rem;
}
.work-details .work-details-content .work-details-content-items h4{
	font-size: 2rem;
	color: rgba(0, 0, 0, 0.5);
	 padding-bottom: 1.5rem;
}
.work-details .work-details-content .work-details-content-items p{
	font-size: 1.9rem;
}
.work-details .work-qualiry{
   width: 24rem;
	 height: 30rem;
	 background: linear-gradient(to right, #A21AF0, #FF0072);
	 border-radius: 2rem 7rem;
   margin-bottom: 4rem;
   position: relative;
   transition: transform 0.5s;
}
.work-details .work-qualiry:hover{
  
	transform: translateY(-8%);
}
.work-details .work-qualiry .work-items{
   position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	padding: 1rem;
}
.work-details .work-qualiry .work-items i{
	font-size: 2.7rem;
	position: relative;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	background: #FF0072;
	border-radius: 50%;
	margin: 1.5rem 0rem;
	color: #fff;
		box-shadow: 0 0 3rem #A21AF0;
	}
.work-details .work-qualiry .work-items h3 {
	font-size: 2.5rem;
	box-shadow: 0 0 5rem #A21AF0;
	padding: 0.3rem 0rem;
	margin: 0.6rem 0rem;
}
.work-details .work-qualiry .work-items p{
	font-size: 1.7rem;
}
.work-details .work-details-content .work-details-content-items p {
	font-size: 1.9rem;
	padding-bottom: 5rem;
}
.work-logo ul{
	list-style-type: none;
	padding-left: 0;
}
.work-headding h2{
	background-clip: text !important;
  color: transparent;
  background: linear-gradient(to right, #A21AF0, #FF0072);
  font-size: 2.5rem;
}
.work-logo .item ul li a img{
   	width: 10rem;
	height: 10rem;	
}
/*work details section end*/
/*what do section start*/
.what-do{}
.what-do .what-do-content{
	width: 48rem;
	height: 30rem;
}
.what-do .what-do-content .what-do-items{
	position: relative;
}
.what-do .what-do-content .what-do-items .what-do-icon{
	display: inline-block;
	width: 8rem;
	height: 8rem;
	line-height: 9rem;
	border: 0.2rem solid #FF0072;
	border-radius: 50%;
	text-align: center;
}
.what-do .what-do-content .what-do-items .what-do-icon i{
	font-size: 3.5rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);

}
.what-do .what-do-content .what-do-items h3 {
	display: inline-block;
	font-size: 3rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	margin-bottom: 0rem;
	position: absolute;
	top: 20%;
	left: 23%;
}
.what-do .what-do-content .what-do-items p {
	display: inline-block;
	position: absolute;
	left: 24%;
	top: 90%;
	font-size: 1.7rem;
}
/*what do section end*/
/*how do section start*/
.how-do-section{

}
.padding-1{
	padding-top: 6rem;
}
.how-do-section .how-do-content{
	text-align: center;
	position: relative;
}
.how-do-section .how-do-content .line-1::before {
	position: absolute;
	content: '';
	width: 18rem;
	border-top-width: 1px;
	border-top-style: dashed;
	border-color: #FF0072;
	top: 24%;
	left: -26%;
}
.how-do-section .how-do-content .line-1::after {
	position: absolute;
	content: '';
	width: 18rem;
	height: 0.5rem;
	border-top-width: 1px;
	border-top-style: dashed;
	border-color: #FF0072;
	top: 24%;
}
.how-do-section .how-do-content .how-do-icon i{
	width: 20rem;
	height: 20rem;
	line-height: 20rem;
	border: 0.2rem solid #FF0072;
	border-radius: 50%;
	font-size: 5rem;
	/*color: #00488C;*/
	 border-top-width: 1px;
   border-top-style: dashed;
   border-color: #FF0072;
   border-bottom-width: 1px;
   border-bottom-style: dashed;
   border-color: #FF0072;	
}
.fa-solid.fa-code::before {
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.fa-solid.fa-repeat::before {
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.fa-solid.fa-thumbs-up::before {
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.fa-solid.fa-comments::before {
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.fa-solid.fa-calendar-plus::before {
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.fa-solid.fa-pen::before {
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.how-do-section .how-do-content .how-do-items h4 {
	font-size: 3rem;
	padding-top: 2.5rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.how-do-section .how-do-content .how-do-items P{
	font-size: 1.7rem;
	margin-bottom: 2rem;
	padding: 1.5rem;
}
/*how do section end*/
/*portfolio section start*/

/*portfolio section end*/
/*team section start*/
.team-section.gray-bg.py-5 {
	margin: 15rem 0rem;
}
.team-section .team-member .team-image {
	position: relative;
	width: 23rem;
	height: 23rem;
	margin-bottom: 10rem;
	margin-top: 5rem;
}
.team-section .team-member .team-image img {
	width: 100%;
	height: auto;
	border-radius: 3rem 9rem;
	box-shadow: 4px 11px 5px #FF0072;
}
.team-section .team-member .member-profile-icon {
	position: absolute;
	right: 0;
	left: 0;
	bottom: -10rem;
	margin: auto;
}
.team-section .team-member .member-profile-icon ul{
	text-align: center;
	padding-left: 0;
	margin-bottom: 2rem;
}
.team-section .team-member .member-profile-icon ul li{
	display: inline-block;
	transition: .4s ease-in-out;
	transform: translateY(4.5rem);
	opacity: 0;
	visibility: hidden;
		padding-right: 0.5rem;
}
.team-section .team-member .team-image:hover .member-profile-icon ul li{
 visibility: visible;
 opacity: 1;
 transform: translateY(0);
}
.team-section .team-member .team-image .member-profile-icon ul li:nth-child(1){
	transition-delay: .2s;
}
.team-section .team-member .team-image .member-profile-icon ul li:nth-child(2){
	transition-delay: .3s;
}
.team-section .team-member .team-image .member-profile-icon ul li:nth-child(3){
	transition-delay: .4s;
}
.team-section .team-member .team-image .member-profile-icon ul li:nth-child(4){
	transition-delay: .5s;
}
.team-section .team-member .member-profile-icon ul li a{
	display: block;
	font-size: 2rem;
	width: 3.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	background-color: #FF0072;
	border-radius: 50%;
	color: #fff;
	transition: .5s;
}
.team-section .team-member .member-profile-icon ul li a:hover{
  color: #fff;
	font-size: 2.5rem;
}
.team-section .team-member .team-content {
	margin-top: 15rem;
	text-align: center;
	width: 23rem;
}
.team-section .team-member .team-content h4 {
	font-size: 2.5rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.team-section .team-member .team-content p{
	font-size: 1.5rem;
}
/*team section end*/
/*contact section start*/
.contact-section{
	background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%),
	url(assets/img/contact-banner.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	padding-bottom: 10rem;
	background-attachment: fixed;
}
.contact-content .contact-headding h2 {
	font-size: 3rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	padding: 2rem 0rem;
	padding-bottom: 2.5rem;
}
.contact-form .contact-headding h2 {
	font-size: 3rem;
	padding: 2rem 0rem;
	padding-bottom: 2.5rem;
	color: #fff;
	text-align: center;
} 
.contact-content .contact-items{
	padding: 3rem 0rem;
}
.contact-content .contact-items .contact-icon h4{
	color: #fff;
	font-size: 2rem;
}
.contact-content .contact-items span i{
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	font-size: 3rem;
	padding-right: 2rem;
}
.contact-content .contact-items a{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
.contact-content .contact-items .contact-icon {
	display: inline-block;
	position: relative;
	top: -3.6rem;
	left: 0;
}.contact-content .contact-items .contact-discription{
	display: inline-block;
}
.contact-content .contact-items .contact-discription h4{
  color: #fff;
	font-size:3rem;
	background-clip: text !important;
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.contact-form{
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
}
.contact-bg {
	margin-top: 3rem;
}
.contact-form form{
	padding: 3.5rem;
}
.contact-form form input{
	width: 100%;
	height: 4rem;
  font-size: 2rem;
  border-color: #FF0072;
  color: #fff;
  border-radius: 1rem;
} 
.contact-form #text{
	color: #FF0072;
}
.contact-form form label{
	font-size: 2rem;
	color: #fff;
}
.contact-form form textarea{
	width: 100%;
	font-size: 2rem;
	color: #FF0072;
	border-color: #FF0072;
	border-radius: 1rem;

}
body .btn-primary-1{
	font-size: 1.8rem;
	padding: 0.7rem;
	text-align: center;
	color: #FFF;
	width: 15rem;
	cursor: pointer;
	display: inline-block;
	background: linear-gradient(15deg, #A21AF0 50%, #FF0072 50%);
	font-family: Ubuntu-Bold;
	transition: .5s ease-in-out;
	border-color: #FF0072;
}
/*contact section end*/
/*footer section start*/
.footer-section{
	color: transparent;
	background: linear-gradient(to right, #A21AF0, #FF0072);
	color: #fff;
	z-index: -1;
}
.footer-top{
	border-bottom: 0.1rem solid #fff;
}
.footer-section a{
	color: #fff;
}
.footer-section h3{
	font-size: 2.5rem;
	border-bottom: 1px solid #fff;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}
.footer-section ul{
	list-style-type: none;
	padding-left: 0;
}
.footer-section ul li{
  margin: 1.4rem 0rem;
}
.footer-section ul li a{
	text-decoration: none;
	font-size: 1.5rem;
	transition: 0.5s;
}
.footer-section ul li a:hover{
	letter-spacing: 0.2rem;
	color: #e73c3e;
}
/* widget-social */
.widget-social ul{
	list-style-type: none;
	display: flex;
}
.widget-social ul li{
	margin: 0 !important;
}
.widget-social ul li span{
	display: inline-block;
	margin-right: 1rem;
	font-size: 1.7rem;
}
.widget-social ul li a{
	padding: 1rem 1rem;
	font-size: 1.7rem;
}
.footer-widget p{
	font-size: 1.6rem;
	padding: 1rem 0rem;
	margin-top: 2rem;
}
.footer-contact .footer-contact-items{
	margin-bottom: 2rem;
}
.footer-contact .footer-contact-items span{
	display: inline-block;
	margin-right: 1.5rem;
}
.footer-contact .footer-contact-items span i{
	font-size: 2rem;
	transition: .3s;
}
.footer-contact .footer-contact-items span i:hover{
  color: #e73c3e;
}
.footer-contact .footer-contact-items a{
	text-decoration: none;
	font-size: 1.6rem;
	transition: .3s;
}
.footer-contact .footer-contact-items a:hover{
		color: #e73c3e;
}
.footer-copyright p{
	padding-bottom: 0;
	font-size: 1.6rem;
	margin-top: 2rem;
	color: #606060;
}
.footer-copyright p a{
	font-size: 1.6rem;
	text-decoration: none;
	cursor: pointer;
	transition: .3s;
}
.footer-copyright p a:hover{
	color: #e73c3e;
	letter-spacing: 0.1rem;
}
/*footer section end*/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #FF0072;
}
