@media only screen and (max-width: 992px) {
	/*header banner section*/
.col-lg-6.col-md-12.col-sm-12.col-12.d-flex.flex-row.align-items-center {
	z-index: 4;
	text-align: center;
}
.col-lg-6.col-md-12.col-sm-12.col-12.d-flex.flex-row.justify-content-center {
	padding-top: 10rem;
}
/*about section*/
.about-section .about-content .about-items p {
	line-height: 1.9;
	font-size: 1.7rem;
	padding-right: 2rem;
}
.about-section .about-content .about-items h2 {
	font-size: 2.5rem;
	padding: 2rem 0rem;
	padding-bottom: 2rem;
}
}
@media only screen and (max-width: 768px){
.headding h2::after{
	left: 35%;
}
/*about section*/
.about-image {
	padding-top: 8rem;
}
}
@media only screen and (max-width: 576px){
/*header banner section*/
.header-banner .banner-content {
	top: 40%;
}
.header-banner .banner-content h4{
	font-size: 4rem;
}
.header-banner .banner-content h2{
	font-size: 8rem;
}
.header-banner .banner-content h3{
	font-size: 4rem;
}
.col-lg-6.col-md-12.col-sm-12.col-12.d-flex.flex-row.justify-content-center {
	padding-top: 14rem;
}
.banner-image {
	width: 36rem;
	height: 36rem;
}
}
@media only screen and (max-width: 480px){
/*header banner section*/
body .btn-primary {
	margin-top: 2rem;
}
.header-banner .banner-content h4{
	font-size: 3.5rem;
}
.header-banner .banner-content h2{
	font-size: 6rem;
}
.header-banner .banner-content h3{
	font-size: 3.5rem;
}
.col-lg-6.col-md-12.col-sm-12.col-12.d-flex.flex-row.justify-content-center {
	padding-top: 4rem;
}
.header-banner .banner-content {
	top: 27%;
}
.col-lg-6.col-md-12.col-sm-12.col-12.d-flex.flex-row.justify-content-center {
	padding-top: 10rem;
}
.banner-image {
	width: 35rem;
	height: 35rem;
}
}







