@media only screen and (max-width: 1200px) {
.work-details .work-details-content .work-details-content-items p {
	font-size: 1.6rem;
}
}
@media only screen and (max-width: 1199px){
/*  .padding-text{
	padding-top: 4rem;
}*/
.what-do .what-do-content .what-do-items .what-do-icon {
	display: inline-block;
	width: 6rem;
	height: 6rem;
	line-height: 6.9rem;
}
.what-do .what-do-content .what-do-items .what-do-icon i {
	font-size: 3rem;
}
.what-do .what-do-content .what-do-items h3 {
	font-size: 2.5rem;
	left: 19%;
}
.what-do .what-do-content .what-do-items p {
	left: 20%;
}
.how-do-section .how-do-content .line-1::before {
	width: 12rem;
	top: 23%;
	left: -22%;
}
.how-do-section .how-do-content .line-1::after {
	width: 12rem;
	top: 22%;
}
}
@media only screen and (max-width: 992px) {
	/*header banner section*/
	.header-banner .banner-content h2 {
	font-size: 6rem;
}
.header-banner .banner-content h4{
	font-size: 3rem;
}
.header-banner .banner-content h3{
	font-size: 3rem;
}
.banner-image {
	top: 9%;
}
.banner-image {
	width: 35rem;
	height: 35rem;
}
.col-lg-6.col-md-12.col-sm-12.col-12.d-flex.flex-row.align-items-center {
	z-index: 4;
	text-align: center;
}
.col-lg-6.col-md-12.col-sm-12.col-12.d-flex.flex-row.justify-content-center {
	padding-top: 10rem;
}
/*about section*/
.about-section .about-content .about-items p {
	line-height: 1.9;
	font-size: 1.7rem;
	padding-right: 2rem;
}
.about-section .about-content .about-items h2 {
	font-size: 2.5rem;
	padding: 2rem 0rem;
	padding-bottom: 2rem;
}
.about-section .about-image img {
	width: 35rem;
	height: 44rem;
}
.what-do .what-do-content .what-do-items h3 {
	font-size: 2rem;
	left: 21%;
}
.what-do .what-do-content .what-do-items p {
	left: 22%;
}
 .logo-content{
 	padding-bottom: 5rem;
 }
 .how-do-section .how-do-content .line-1::before {
	display: none;
}
.how-do-section .how-do-content .line-1::after {
   display: none;
}
.padding-1{
	padding-top: 0rem;
}
.how-do-section .how-do-content {
	text-align: center;
	position: relative;
	padding-bottom: 3rem;
}
}
@media only screen and (min-width: 992px){
.footer-content p{
 padding-right: 3rem;
}
}
@media only screen and (max-width: 991px){
.btn.nav-btn {
	visibility: visible;
	height: 100%;
	background: #494949;
	position: absolute;
	right: 0;
}
.bg-color-1{
	z-index: -1;
}
}
@media only screen and (max-width: 768px){
.cd-intro h1 {
	font-size: 4rem;
}
.owl-carousel.owl-drag .owl-item {
	display: flex;
	justify-content: center;
}
.about-section .about-image img {
	width: 40rem;
	height: 50rem;
}
}
@media only screen and (max-width: 767px){
.headding h2::after{
	left: 35%;
}
/*about section*/
.about-image {
	padding-top: 8rem;
}
.about-content {
	text-align: center;
}
}
@media only screen and (max-width: 576px){
/*header banner section*/
	.header-banner .banner-content h2 {
	font-size: 4.5rem;
}
.header-banner .banner-content h4{
	font-size: 2.5rem;
}
.header-banner .banner-content h3{
	font-size: 2.5rem;
}
.banner-image {
	top: 9%;
}
.banner-image {
	width: 30rem;
	height: 30rem;
}
.owl-carousel.owl-drag .owl-item {
	display: flex;
	justify-content: center;
}
}
@media only screen and (max-width: 480px){
/*header banner section*/
	.header-banner .banner-content h2 {
	font-size: 4rem;
}
.cd-intro h1 {
	font-size: 3rem;
}
.header-banner .banner-content h4{
	font-size: 2rem;
}
.header-banner .banner-content h3{
	font-size: 2rem;
}
.header-banner .banner-content p {
	font-size: 1.5rem;
}
.banner-image {
	top: 9%;
}
.banner-image {
	width: 30rem;
	height: 30rem;
}
body .btn-primary {
	margin-top: 1.5rem;
}
.owl-carousel.owl-drag .owl-item {
	display: flex;
	justify-content: center;
}
}







